
.input {
}
/*
.input[data-value="1"]::after {
	content: "1";
	background-color: #ee9c9c;
}
.input[data-value="2"]::after {
	content: "2";
	background-color: #eebd9c;
}
.input[data-value="3"]::after {
	content: "3";
	background-color: #eeed9c;
}
.input[data-value="4"]::after {
	content: "4";
	background-color: #caee9c;
}
.input[data-value="5"]::after {
	content: "5";
	background-color: #9ceea7;
} */