
.navtree {
	contain: content;
	--navitem-height: 1.55em;
	--navitem-indentation: 1.0em;

	padding: 0.5em 0.7em;
	overflow-y: scroll;
	overflow-x: auto;
	overscroll-behavior: none;

	font-size: 130%;
}

.item {
	contain: content;
	overflow-anchor: none;

	margin: 0.2em 0;
	max-height: var(--navitem-height);
	transition: max-height 0.50s linear;
}
.item > .item {
	margin-inline-start: var(--navitem-indentation);
}
.category[data-expanded] {
	max-height: 20em;
}
.service {
	font-size: 80%;
}

.category-heading {
	contain: content;
	height: var(--navitem-height);
}

.item, .category-heading {
	cursor: pointer;
	box-sizing: border-box;
	border-radius: 0.4em;
	background-color: white;
}
.service, .category-heading {
	padding: 0.18em 0em 0.18em 0.4em;
}
:is(.service, .category-heading):hover {
	color: var(--c-alt-fg);
	background-color: var(--c-alt-bg);
	overflow-anchor: auto;
}
/* :is(.service, .category-heading):not([aria-selected="true"]):hover {} */
.item[aria-selected="true"] {
	color: var(--c-pop-fg);
	background-color: var(--c-pop-bg);
}