
.navtree {
	contain: content;
	--navitem-height: 1.55em;
	--navitem-indentation: 1.0em;

	padding: 0.5em 1.0em;
	overflow-y: scroll;
	overflow-x: auto;
	overscroll-behavior: none;

	font-size: 130%;
}

.item {
	contain: content;
	cursor: pointer;
	height: var(--navitem-height);

	transition: height 0.50s ease-out;
}
.item[data-expanded] {
	height: fit-content;
}
.item > .item {
	margin-inline-start: var(--navitem-indentation);
}

.item-heading {
	contain: content;
	height: var(--navitem-height);
}

.item, .item-heading {
	box-sizing: border-box;
	padding-block-start: 0.18em;
	padding-block-end:   0.18em;
	background-color: white;
	border-radius: 0.4em;
}
.item[data-is-leaf], .item-heading {
	padding-inline-start: 0.4em;
	padding-inline-end:   0.4em;
}

.item[data-is-leaf]:hover, .item-heading:hover {
	filter: brightness(90%);
}