
.services {
	contain: content;
	display: grid;
	grid-template:
	"navtree main" auto / 13.0em auto;
}
.tabs {
	color: var(--c-alt-fg);
	background-color: var(--c-alt-bg);
}
.main {
	/* override tabs: */
	position: relative;
}