
.layout {
	contain: content;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	display: grid;
	grid-template:
	"topbar" 2.5em
	"main"   auto
	/ 1fr;
	background-color: inherit;
}

.area-nav {
	contain: content;
	display: grid;
	grid-auto-flow: column;
	align-items: stretch;
	justify-content: start;
	padding: 0 0.5em;
}

.tab-handle {
	cursor: pointer;
	display: grid;
	align-items: center;
	padding: 0 0.9em;

	white-space: nowrap;
	font-size: 120%;
	background-color: inherit;
}
.tab-handle * {
	pointer-events: none;
}
.tab-handle:hover {
	filter: brightness(140%);
}

.main {
	display: none;
	grid-area: main;
}
.main[aria-current="true"] {
	display: initial;
}
.main, .main > * {
	contain: content;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}