
/* If anything goes into fullscreen mode: */
::backdrop {
	background-color: var(--colour-mainBg);
}

:disabled {
	cursor:         not-allowed;
}


button {
	font:       inherit;
	color:      inherit;
	padding:    0px;
}
button:disabled {
	opacity:    0.7;
}
input {
	font:           inherit;
	text-align:     inherit;
	box-sizing:     border-box;
}