/* #region vendor-normalize */
@import "normalize.vendor";
/* #endregion */

* {
	user-select: none; /* allows overriding */
}

html {
	scroll-behavior: smooth;
}

body {
	contain: content;
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	scroll-behavior: smooth;
}

/* If anything goes into fullscreen mode: */
::backdrop {
	background-color: var(--colour-mainBg);
}

:disabled {
	cursor:         not-allowed;
}


button {
	font:       inherit;
	color:      inherit;
	padding:    0px;
	border-radius: 0.5em;
	border-width: 0;
}
button:hover {
	cursor: pointer;
}
button:disabled {
	opacity:    0.7;
}
input {
	font:           inherit;
	text-align:     inherit;
	box-sizing:     border-box;
}

table {
	border-spacing: 0;
}