<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>KEC Service-Referral Directory</title>
		<meta name="referrer" content="same-origin"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<!-- <link rel="manifest" href="manifest.webmanifest"/> -->

		<%= htmlWebpackPlugin.tags.headTags.join("\n\t\t") %>

		<meta name="og:title"       content="KEC Service-Referral Directory"/>
		<meta name="author"         content="David Fong"/>
		<meta name="description"    content=""/>
		<meta name="og:description" content=""/>
		<meta name="og:image"       content="./assets/images/opengraph-image.png"/>
	</head>

	<body>
		<%= htmlWebpackPlugin.tags.bodyTags.join("\n\t\t") %>
	</body>
</html>